In [1]:
import pandas

In [3]:
pandas.read_csv('A1_mosquito_data.csv')

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217
2  2003           86       154        153
3  2004           87       159        158
4  2005           74       292        243
5  2006           75       283        237
6  2007           80       214        190
7  2008           85       197        181
8  2009           74       231        200
9  2010           74       207        184

In [5]:
data = pandas.read_csv('A1_mosquito_data.csv')

In [7]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [11]:
print(data[['year']])

   year
0  2001
1  2002
2  2003
3  2004
4  2005
5  2006
6  2007
7  2008
8  2009
9  2010

In [17]:
d2 = data[['rainfall', 'temperature']]

In [19]:
d2.to_csv('d2.csv')

In [20]:
!ls

A1_mosquito_data.csv      A3_mosquito_data.csv      B2_mosquito_data.csv      d2.csv
A2_mosquito_data.csv      B1_mosquito_data.csv      Untitled.ipynb            decision_tree_example.url

In [12]:
print(data[0:2])

   year  temperature  rainfall  mosquitos
0  2001           80       157        150
1  2002           85       252        217

In [13]:
data[1]

KeyError: 1

In [15]:
print(data[1:2])

   year  temperature  rainfall  mosquitos
1  2002           85       252        217

In [16]:
data.iloc[1]

year           2002
temperature      85
rainfall        252
mosquitos       217
Name: 1, dtype: int64

In [21]:
print(data['temperature'][data['year'] > 2005])

5    75
6    80
7    85
8    74
9    74
Name: temperature, dtype: int64

In [22]:
data.mean()

year           2005.5
temperature      80.0
rainfall        214.6
mosquitos       191.3
dtype: float64

In [24]:
data.plot()